<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mp_final">

    <uses-permission xmlns:tools="http://schemas.android.com/tools"
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        <activity android:name=".Level07Activity"></activity>
        <activity
            android:name=".Level06Activity"
            android:launchMode="singleTask" />
        <activity
            android:name=".Level05Activity"
            android:launchMode="singleTask" />
        <activity
            android:name=".Level04Activity"
            android:launchMode="singleTask" />
        <activity
            android:name=".Level03Activity"
            android:launchMode="singleTask" />
        <activity
            android:name=".Level01Activity"
            android:launchMode="singleTask" />
        <activity
            android:name=".Level02Activity"
            android:launchMode="singleTask" />
        <activity
            android:name=".StartActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>